<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/template :: head}"></div>
    <title th:text="${pizza.name}">detail</title>
</head>

<body>
    <div th:replace="~{fragments/template :: navbar}"></div>
    <div class="container my-5">
        <h1 class="mb-4" th:text="${pizza.name}">Pizza</h1>
        <p class="fst-italic" th:text="${pizza.description}">Description</p>

        <p class="card-text fw-semibold text-dark"
            th:text="'€' + ${#numbers.formatDecimal(pizza.price, 1, 'COMMA', 2, 'POINT')}">price</p>
        <img th:src="@{${pizza.url != null && !pizza.url.isEmpty() ? '/img/' + pizza.url : '/img/placeholder.jpg'}}"
            class="w-50" alt="Pizza Image">
        <br>
        <div>
            <th:block th:if="${pizza.ingredients.size() > 0}">
                <h3>Ingredients:</h3>
                <ul>
                    <li th:each="ingredient : ${pizza.ingredients}" th:text="${ingredient.name}">Name</li>
                </ul>
            </th:block>
            <th:block th:unless="${pizza.getIngredients().size() > 0}">
                <p class="mb-3 alert alert-info">No ingredients have been specified for this pizza</p>
            </th:block>
        </div>

        <div class="d-flex gap-1">
            <a th:href="@{/pizzas/{id}/promo(id=${pizza.id})}" class="btn btn-warning btn-sm">New
                Promo</a>
            <a th:href="@{/pizzas/edit/{id}(id=${pizza.id})}" class="btn btn-success btn-sm">Edit</a>
            <form action="#" th:action="@{/pizzas/delete/{id}(id=${pizza.id})}" method="post">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </div>
        <div class="my-5">
            <div class="col-12" th:unless="${pizza.getPromoCodes().size() > 0}">
                <div class="alert alert-warning">
                    <h2 th:text="'There are no promo codes available for ' + ${pizza.name}">There are no promo codes
                        available. </h2>
                </div>

            </div>
            <div class="col-12" th:if="${pizza.getPromoCodes().size() > 0}">
                <h2>Promo Codes</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Promo Code</th>
                            <th scope="col">Effective Date</th>
                            <th scope="col">Expiration</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="promoCode : *{pizza.promoCodes}">
                            <th scope="row">[[${promoCode.id}]]</th>
                            <td>[[${promoCode.promoName}]]</td>
                            <td>[[${promoCode.startDate}]]</td>
                            <td>[[${promoCode.endDate}]]</td>
                            <td>
                                <div class="d-flex">
                                    <a th:href="@{/promos/edit/{id}(id=${promoCode.id})}"
                                        class="btn btn-success btn-sm me-2">Edit</a>

                                    <form action="#" th:action="@{/promos/delete/{id}(id=${promoCode.id})}"
                                        method="post">
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>




    </div>




    <div th:replace="~{fragments/template :: js}"></div>
</body>

</html>